@using AlexWebApp.Models.ClientViewModels
@model AlexWebApp.Models.ClientViewModels.Client

<div class="panel panel-primary">
     <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
     </div>
     <div class="panel-body">

@using (Html.BeginForm("NewClient","Clients",FormMethod.Post,new{@class="form"}))
{

}

       <div class="row">
               <div class="col-md-offset-2 col-md-10">
                    <div id="page-wrapper">
                         <div class="row">
                              <div class="col-lg-12">
                                   <h1 class="page-header text-primary">
                                        Add a New Client <br />
                                        <small>We're always happy to gain new customers.</small>
                                   </h1>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <div class="form-group">
                                      <label asp-for="FirstName"></label>
                                        <input type="text" class="form-control" />
                                   </div>
                                   <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" />
                                   </div>
                                   <div class="form-group">
                                        <label>Company Name</label>
                                        <input type="text" class="form-control" />
                                   </div>
                                   <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" />
                                   </div>
                                   <div class="form-group">
                                        <label>Contact Date</label>
                                        <input type="text" class="form-control" />
                                   </div>
                                   <div class="form-group">
                                        <label>Client Type</label>
                                        <select class="form-control">
                                   <option>Select Client </option>
								<option>Individual</option>
								<option>Small Business</option>
							</select>
                                   </div>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6 form-group">
                                   <label>Notes</label>
                                   <textarea type="text" class="form-control" rows="5"></textarea>
                              </div>
                         </div>
                         <div class="row">
                              <div class="col-md-6">
                                   <h3>Billing Address</h3>
                                   <div class="row">
                                        <div class="col-md-6 form-group">
                                             <label>Street</label>
                                             <input type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-6 form-group">
                                             <label>City</label>
                                             <input type="text" class="form-control" />
                                        </div>
                                   </div>
                                   <div class="row">
                                        <div class="col-md-6 form-group">
                                             <label>State</label>
                                             <input type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-6 form-group">
                                             <label>Zip</label>
                                             <input type="text" class="form-control" />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <button type="button" class="btn btn-primary col-md-offset-2">
          <i class="fa fa-save" aria-hidden="true"></i>
          Save</button>
               <button type="button" class="btn btn-danger col-md-offset-2">
         <i class="fa fa-deaf" aria-hidden="true"></i>
         Reset</button>

          </div>

     </div>
</div>
