@model IEnumerable<AlexWebApp.Models.CustomerViewModels.Customer>

<table class="table table-bordered">
  <thead>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
  </tr>
  </thead>
  <tbody>

  <tr>
    @foreach (var item in Model)
    {
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
    }
  </tr>
  </tbody>

</table>